<div class="album-show-page">

  <div class="title"><%= album.title %></div>
  <div class="d-flex album-content justify-content-center align-items-center flex-wrap flex-lg-nowrap">
    <div class="album-art">
      <% if album.bc_embed.length > 0 %>
        <%= raw album.bc_embed %>
      <% else %>
        <%= image_tag("#{album.artwork_url}", class: 'album-image')%>
      <% end %>
    </div>
    <div class="album-info">

      <div class="artist">
        <strong class="mr-2">Artist:</strong> <%= album.artist %>
      </div>

      <div class="track-count">
        <strong>Tracks:</strong> <%= album.track_count %>
      </div>

      <% if album.description.length > 0 %>
        <div class="album-description">
          <strong class="mr-2">Description:</strong> <%= album.description %>
        </div>
      <% end %>

      <div class="release-date">
        <strong class="mr-2">Release Date:</strong> <nobr><%= album.release_date.strftime("%B %d, %Y") %></nobr>
      </div>

      <div class="check-it-out">
        <strong class="mr-2">Check it out now:</strong>
        <%= link_to("<i class='fa fa-bandcamp fa-lg'></i>".html_safe, album.bandcamp_link, target: "_blank" ) %>
      </div>

    </div>
    <% if user_signed_in? %>
      <p class="admin-links">
        <%= link_to 'Edit', edit_album_path(album), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete', album, method: :delete, data: { confirm: "Are you sure you want to delete #{album.title}?" }, class: "btn btn-sm btn-primary" %>
      </p>
    <% end %>
  </div>

  <%=link_to("All Albums", "/albums", class: "text-center all-albums-link", style: "display: block;")%>
</div>
