<p id="notice"><%= notice %></p>

<div class="albums-index container">

  <% @collection.each do |artist| %>
    <div class="artist-section">
      <h1 class="artist-name"><%= artist[0] %></h1>
      <div class="album-section d-flex justify-content-center flex-wrap">
        <% artist[1].each do |album| %>
          <div class="album-info">
            <div class="album-art"><%= link_to(image_tag("#{album.artwork_url}"), album, id: album.id) %></div>
            <div class="album-title"><%= album.title %> - <%= album.year %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
