<p id="notice"><%= notice %></p>
<div class="container album-show-page">

  <div class="row">

    <aside class="col-lg-6 col-md-7 outer-block">
      <div class="inner-block">
        <div class="title-year">
          <h1><%= @album.title %></h1>
          <h5 class="year">( <%= @album.year %> )</h5>
        </div>
        <%= image_tag("#{@album.artwork_url}", style: "width: 350px; height: 350px;")%>
      </div>
    </aside>

    <aside class="col-lg-6 col-md-5 outer-block">
      <div class="inner-block">
        <div class="artist-and-track-count">
          <span class="artist"> <strong class="mr-2">Artist:</strong> <%= @album.artist %> </span>
          <span class="track-count"> <strong>Tracks:</strong> <%= @album.track_count %> </span>
        </div>

        <% if @album.description.length > 0 %>
        <div class="album-description">
            <strong class="mr-2">Description:</strong> <%= @album.description %>
        </div>
        <% end %>

        <div class="release-date mt-3">
          <strong class="mr-2">Release Date:</strong> <nobr><%= @album.release_date.strftime("%B %d, %Y") %></nobr>
        </div>

        <div class="check-it-out">
          <strong class="mr-2">Check it out now:</strong>
          <%= link_to("<i class='fa fa-bandcamp fa-lg'></i>".html_safe, @album.bandcamp_link, target: "_blank" ) %>
        </div>
      </div>
    </aside>

  </div>

  <div class="admin-buttons hide-btn-container mt-3">
    <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-primary" %>
    <%= link_to 'All Albums', albums_path, class: "btn float-right hide-partial-btn btn-primary" %>
  </div>

</div>
