<div class="container gigs-index">
  <h1 class="header">Shows</h1>
  <div class="future-shows shows-container">
    <% @gigs.future_dates.each do |gig| %>
    <div class="section">
      <div class="info"><%=link_to( "#{gig.date.strftime('%b')} #{gig.date.strftime('%e')}", gig )%></div>
      <span class="dots">...........................................................................................
      </span>
      <div class="info"><%=link_to( "#{gig.city} #{gig.state}", gig ) %></div>
    </div>
    <% end %>
  </div>


  <h1 class="header">Past Shows</h1>
  <div class="shows-container">
    <% @gigs.past_dates.each do |gig| %>
      <div class="section">
        <div class="info"><%=link_to( "#{gig.date.strftime('%b')} #{gig.date.strftime('%e')}", gig )%></div>
        <span class="dots">...........................................................................................
        </span>
        <div class="info"><%=link_to( "#{gig.city} #{gig.state}", gig ) %></div>
      </div>
    <% end %>
  </div>


  <% if user_signed_in? %>
    <%= link_to 'New Show', new_gig_path, class: "btn btn-primary" %>
  <% end %>
</div>
