<div class="container gig-show-page">

  <div class="row justify-content-around">
    <aside class="outer-block">
      <div class="map inner-block">
        <iframe width="350" height="350" frameborder="0" style="border: 5px solid #ffd36f;" src="https://www.google.com/maps/embed/v1/place?q=<%="#{@gig.map_venue},+#{@gig.street},+#{@gig.city}+#{@gig.state}"%>&zoom=17&key=AIzaSyAokwDA1udys6F0K7Xc3XWGJKtu453qjDM"></iframe>
      </div>
    </aside>

    <aside class="outer-block gig-info mt-3">
      <div class="date-time"><%= @gig.date.strftime('%b %e @ %l:%M %p ') %></div>

      <div>
        <strong class="mr-2">Artist: </strong> <%= @gig.band_name %>
      </div>
      <div class="mt-2">
        <strong class="mr-2">Venue: </strong> <%= @gig.venue %>, <%= @gig.city %> <%= @gig.state %>
      </div>
      <% if @gig.description != "" %>
      <div class="show-description">
        <strong class="mr-2">Info: </strong> <%= @gig.description %>
      </div>
      <% end %>
      <% if @gig.url != "" %>
        <div class="mt-2">
          <strong class="mr-2">Link: </strong> <%= link_to 'More info', extlink(@gig.url), target: 'blank' %>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <div class="mt-2">
          <%= link_to 'Edit', edit_gig_path(@gig), class: "btn btn-sm btn-primary" %> |
          <%= link_to 'Destroy', gig_path(@gig), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </aside>
  </div>

  <%= render "index", local: {:@gigs => @gigs}%>


</div>
