<footer>
  <contact>
    <div class="social-nav d-flex justify-content-around align-items-center">
      <%=link_to("<i class='fa fa-instagram fa-2x'></i>".html_safe, INSTAGRAM_LINK, target: 'blank')%>
      <%=link_to("<i class='fa fa-facebook fa-2x'></i>".html_safe, FACEBOOK_LINK, target: 'blank')%>
      <a href="/bookjoe" class="bookjoe">
        <h1 class="bookjoe">Book Joe</h1>
      </a>
      <%=link_to("<i class='fa fa-youtube fa-2x'></i>".html_safe, YOUTUBE_LINK, target: 'blank') %>
      <%=link_to("<i class='fa fa-bandcamp fa-2x'></i>".html_safe, BANDCAMP_LINK, target: 'blank') %>
      <!-- <%=link_to("<i class='fa fa-envelope fa-2x'></i>".html_safe, "/bookjoe") %> -->
    </div>
  </contact>
</footer>
