<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head_content" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash_notice" %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
