<!DOCTYPE html>
<html>
  <head>
    <title>JoeRisdonSongs</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://use.fontawesome.com/a0f97c16fd.js"></script>
  </head>

  <body>
    <div class="nav-spacer hidden-md-up"></div>
    <div class="index">
      <!-- <header>JOE RISDON</header> -->
      <%= render "/banner"%>

      <!-- regular justified nav-bar -->
      <!-- As of BS4.alpha6 .nav-justified will not work w/ .navbar-toggleable -->
        <ul class="nav nav-justified hidden-sm-down">
          <li class="nav-item">
            <a class="nav-link" href="/albums">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/insta">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Merch</a>
          </li>
        </ul>
        <!-- collapsed navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md  navbar-inverse hidden-md-up">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <a class="navbar-brand" href="/">JOE RISDON</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav">
                <li class="nav-item">
                  <a class="nav-link" href="/albums">Music</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/insta">Feed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Shows</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Merch</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>

    <%= yield %>

    <footer>
      <contact>
        <h1>Book Joe</h1>
        <div class="social-nav">
          <div class="icons">
            <%=link_to("<i class='fa fa-instagram fa-2x'></i>".html_safe,"https://www.instagram.com/joerisdonsongs/", target: 'blank')%>
            <%=link_to("<i class='fa fa-facebook fa-2x'></i>".html_safe, "https://www.facebook.com/joerisdonsongs/", target: 'blank')%>
            <%=link_to("<i class='fa fa-youtube fa-2x'></i>".html_safe, "https://www.youtube.com/channel/UCkIsdG0MQnU8HkVqWLYPyWw", target: 'blank') %>
            <%=link_to("<i class='fa fa-bandcamp fa-2x'></i>".html_safe, "https://joerisdon.bandcamp.com/", target: 'blank') %>
            <%=link_to("<i class='fa fa-envelope fa-2x'></i>".html_safe, "#", target: 'blank') %>
          </div>
        </div>
      </contact>
    </footer>

  </body>
</html>
